{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock title %}

{% block content %} 
    <section class="home d-flex flex-column">
        <img src="{% static 'img/logogot.png' %}" class="logogotic" alt="">
        <div class="home-title d-flex-column align-items-center">
            <a href="{% url 'main:product_list' %}" class="home-btn mt-4">Вce продукты</a>
        </div>
        <div class="home-recomendation">
            <div class="rec-title md-4">
                <h3><span>Популярные книги</span></h3>
            </div>
        </div>
        <div class="home-cards">
            {% for product in products %}
                <a href="{{product.get_absolute_url}}" class="home-card">
                    <img src="{{product.image.url}}" class="card-img" alt="">
                    <h5 class="title-card">{{product.name}}</h5>
                    {% if product.discount %}
                        <div class="card-discount">
                            <p class="line">₸ {{product.price}}</p>
                            <p>₸ {{product.sell_price}}</p>
                        </div>
                    {% else %}
                        <p class="price">₸ {{product.price}}</p>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </section>
    <img src="{% static 'img/subtitle.png' %}" class="subtitle" alt="">
{% endblock content %} 